ul li {
  list-style-type: none;
  
 }
a  {
 text-decoration: none;
 color: #fff;
 }
#onpage a  {
 text-decoration: underline overline ;
 text-decoration-color: red;
 }
#main-navbar  {
 background-color: blue;
 width: 100%;
 position:relative;
 overflow: hidden;
 }
#main-navbar  ul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border:0;
  padding:0;
  margin:0;
 }
#main-navbar  ul li{
padding-top: 1%;
padding-left: 5%;
padding-right: 5%;
 }
#main-navbar  ul li:hover{
 background: #000;
 opacity: 0.75;
 }
#navbar-container  {
width: 80%;  
 }
#sidebar  {
 display: block;
 position: fixed;
 background-color: red; 
 text-align: center;
 height: 100%;
 right:0%;
 width: 20%;
 display: flex;
 flex-direction: column;
 justify-content: space-evenly;
 }
#sidebar ul  {
  display:block;
  align-items: center;
  padding:0;
 }
#sidebar ul  li  {
  padding: 33.33%;
 }
#sidebar  ul li:hover{
 background: #000;
 opacity: 0.75;
 }
#sidebar-container  {
  overflow: hidden;
  height:92%;
  }